@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 9vh;
}

.header {
    width: 100%;
    height: 8vh;
    position: relative;
    position: fixed;
    top: 0;
}

.image {
    width: 100%;
    height: 100%;
    filter: blur(3px);
}

.covered {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.covered h2 {
    margin: 0 10px;
    /* font-size: 16px; */
    font-family: Montserrat;
    color: #FFF;    
}

.content {
    display: flex;
    margin: 5px;
    border-bottom: .5px solid #bababa;
}

.containImage {
    width: 40%;
    height: 100%;    
}

.containImage img {
    width: 100%;
    border-radius: 5px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
    padding: 5px;
}

.info .infoTextContain {
    text-align: start;
    background-color: aquamarine;
}

.info h3 {
    font-family: Montserrat;
    color: #CC6600;
    margin: 0;
    padding: 0;
}

.info h6 {
    font-family: Montserrat;
    color: #666;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
}

.icon {
    color: #fff;
    font-size: 30px;
    margin: 0 10px;
}

.price {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.price h4 {
    color: #666;
    margin: 0;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
}