@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 0 20%;
}

.contentLogo {
    display: flex;
    align-items: center;
    height: 100%;
}

.contentMenu {
    display: flex;
    align-items: center;
    height: 100%;
}

.title {
    margin: 0 20px;
    color: #fff;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 30px;
    transition: opacity 200ms;
}

.item {
    margin: 0 20px;
    color: #CC6600;
    font-family: PirateOne;
    font-size: 22px;
    transition: opacity 200ms;
}

.item:hover {
    opacity: 50%;
}

.menu {
    padding: 8px 35px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: #CC6600;
    color: #fff;
    font-family: PirateOne;
    font-size: 22px;
    transition: all 200ms;
}

.menu:hover {
    opacity: 80%;
}

.icons {
    font-size: 40px;
    color: #fff
}

.headerMobile {
    display: none;
}

@media screen and (max-width: 600px) {
    .header {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 30vh;
        padding: 0;
    }
    
    .title {
        display: none;
    }

    .icons {
        display: none;
    }

    .contentLogo {
        display: none;
    }

    .headerMobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .logoMobile {
        margin: 20px 0;
    }

    .titleLarge {
        font-size: 58px;
        font-family: PirateOne;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #fff;
        margin: 0;
    }

    .titleSmall {
        font-size: 24px;
        font-family: PirateOne;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #fff;
        margin: 0;
    }

    .contentInfo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon {
        margin: 0;
        font-size: 14px;
        color: #fafafa;
    }


    .info {
        margin: 0 5px;
        font-family: PirateOne;
        font-weight: 300;
        font-size: 14px;
        color: #fafafa
    }
}